body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(280px, 100%);
    background: url(/src/assets/images/bg-img-desktop.svg) no-repeat center fixed #000;
    background-size: cover;
}

h1, h2, p, a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

h1 {
    font-size: clamp(3.5rem, 10rem, 7vw);
    font-weight: 600;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: clamp(3rem, 4rem, 7vw);
    font-weight: 600;
    margin-bottom: 10rem;
}

p {
    font-size: clamp(2rem, 3rem, 4vw);
    margin-bottom: 18rem;
}

a {
    font-size: clamp(3rem, 4rem, 7vw);
    font-weight: 600;
    text-decoration: none;
}

article {
    /* border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    border-width: 50%; */
    padding-top: 5rem;
}

form {
    padding-top: 5rem;
}


