.submit-btn {
  color: var(--clr-bg);
  background-color: var(--clr-light-grey);
  border-style: none;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: clamp(1.5rem, 2rem, 4vw);
  font-weight: 600;
  cursor: pointer;
}

.submit-btn {
  transition: background .3s ease-in-out;
}

.submit-btn:hover {
  background-color: #fff;
}