.info {
    display: flex;
    justify-content: center;
    width: min(800px, 80%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2.5rem;
    margin-top: 10rem;
}

.content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 5rem 0;
}

.content img {
    border-radius: 2.5rem;
    width: 90%;
}

.btn-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
}

.project-tech {
    width: 100%;
}

.project-tech ul {
    display: flex;
    justify-content: space-evenly;
}