.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner div {
    text-align: center;
}

.banner p {
    font-size: clamp(2rem, 3.5rem, 4vw);
}

.info {
    display: flex;
    justify-content: center;
    width: min(700px, 80%);
    text-align: center;
    background-color: var(--clr-bg);
    border-radius: 2.5rem;
}

.info .content {
    width: 80%;
}

.teste {
    padding: 2.5rem 12.5rem;
}