.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner div {
    text-align: center;
}

.banner p {
    font-size: clamp(2rem, 3.5rem, 4vw);
}

.subtitle {
    font-size: clamp(2rem, 4rem, 4vw);
    margin: 0;
}

.info {
    display: flex;
    justify-content: center;
    width: min(800px, 80%);
    text-align: center;
    background-color: var(--clr-bg);
    border-radius: 2.5rem;
    position: relative;
    bottom: 20rem;
}

.info .content {
    width: 85%;
}

.skills {
    display: flex;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10rem;
    gap: 2rem;
}

.fa-html5, .fa-css3-alt, .fa-js {
    font-size: clamp(12rem, 12rem, 10vw);
    color: #fff;
}

.teste {
    background-color: #fff;
    width: 20rem;
    height: 15rem;
}

.projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 10rem;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}