.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner div {
    text-align: center;
}

.banner p {
    font-size: clamp(2rem, 4rem, 4vw);
}

.info {
    width: min(800px, 80%);
}

.info .content {
    background-color: var(--clr-bg);
    opacity: .8;
}