.info {
    display: flex;
    justify-content: center;
    width: min(800px, 80%);
    text-align: center;
    background-color: var(--clr-bg);
    border-radius: 2.5rem;
}

.info .content {
    width: 85%;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10rem;
    gap: 5rem;
}

.tech h3 {
    margin-bottom: 1rem;
}

.fa-html5, .fa-css3-alt, .fa-js {
    font-size: clamp(10rem, 12rem, 10vw);
    color: #fff;
}

.teste {
    background-color: #fff;
    width: 20rem;
    height: 15rem;
}

.projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 10rem;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

@media (min-width: 500px) {
    .tech {
        flex-direction: row;
    }
}