.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(8rem, 10rem, 8vw);
  height: clamp(8rem, 10rem, 8vw);
  background-color: var(--clr-btn-bg);
  border-radius: 100%;
  margin: 5rem 0;
}

.fa-chevron-down {
  font-size: clamp(3rem, 3.5rem, 4vw);
  color: var(--clr-arrow);
}

.arrow-btn:hover .fa-chevron-down {
  animation: move 1.1s infinite ease-in-out;
}

@keyframes move {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 1.5rem;
  }

  100% {
    margin-top: 0;
  }
}