.main-btn {
  display: flex;
  justify-content: center;
  padding: 5rem 10rem;
  margin-bottom: 5rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: var(--clr-btn-bg);
  border-radius: 100%;
}