.main-btn {
  padding: 5rem 10rem;
  margin-bottom: 15rem;
  /* border-bottom: #fff 1px solid; */
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: var(--clr-btn-bg);
  border-radius: 100%;
}