.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(8rem, 10rem, 8vw);
  height: clamp(8rem, 10rem, 8vw);
  background-color: var(--clr-btn-bg);
  border-radius: 100%;
  margin: 5rem auto;
}

.fa-chevron-down {
  font-size: clamp(3rem, 3.5rem, 4vw);
  color: var(--clr-arrow);
}

.arrow-btn:hover .fa-chevron-down {
  animation: move 1.1s infinite ease-in-out;
}

.arrow-btn.-lang {
  background: none;
  border: 1px solid #fff;
  font-size: clamp(2rem, 2.4rem, 2vw);
  margin: 0;
  transition: background .3s ease-in-out;
}

.arrow-btn.-lang:hover {
  background: var(--clr-btn-bg);
}

@keyframes move {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 1.5rem;
  }

  100% {
    margin-top: 0;
  }
}